[submodule "src/plugins/vue-find"]
	path = src/plugins/vue-find
	url = git@192.168.200.211:FindVue/vue-find.git
	ignore = dirty
[submodule "src/scripts/findSDK"]
	path = src/scripts/findSDK
	url = git@192.168.200.211:FindVue/find-sdk.git
	ignore = dirty
