*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

/**
* 设配大小
*/
@media screen and (max-width: 3840px) {
  html {
    transform: scale(1);
  }
}

@media screen and (max-width: 1920px) {
  html {
    transform: scale(0.5);
  }
}

@media screen and (max-width: 1440px) {
  html {
    transform: scale(0.375);
  }
}

@media screen and (max-width: 1366px) {
  html {
    transform: scale(0.356);
  }
}

@media screen and (max-width: 1280px) {
  html {
    transform: scale(0.333);
  }
}

@media screen and (max-width: 1024px) {
  html {
    transform: scale(0.267);
  }
}

html {
  transform-origin: 0 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  width: 3840px;
  height: 1080px;
  font-family: "pingfang SC", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/bg_background2.png") 0 0 / cover no-repeat;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
}

a {
  color: #42b983;
}

button {
  outline: none;
}

#app {
  height: 100%;
  > div {
    position: relative;
    height: 100%;
  }
}

.fade-enter-active,
.fade-leave-to {
  transition: all 0.5s ease-in;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translate3d(0, 1200px, 0);
}
